<div class="container" style="display: flex; justify-content: center;">
  <div class="banner">

    <div class="banner-text-wrapper">
      <div class="banner-text">
        <h1>Chtole бот</h1>
        <p class="banner-text-subtext">
          Домашний бот для вашего telegram-чата
        </p>

        <div class="btn-wrapper">
          <a class="btn-inner">
            <app-mat-button [routerLink]="[ '/account/']" style="text-decoration: none;" text="Начать" icon="play_arrow">
            </app-mat-button>
          </a>
        </div>

      </div>
    </div>





  </div>
</div>


<!-- <div class="banner-img-wrapper">
          <div class="banner-img">
            <img src="assets/main/banner.png">
          </div>
    
    
    
        </div> -->