<app-title text="{{title}}" subtext="{{subtitle}}"> </app-title>

<div class="form-add-wrapper">

  <form class="form-add" [formGroup]="itemForm" (keydown.enter)="submitUpdate()">


    <div class="input-group" style="display: flex;">
      <app-input-text [placeholder]="''" formControlName="innNumber" [type]="'number'" [label]="'ИНН'"
        [id]="'innNumber'" value='{{item.innNumber}}' style="width: 100%; padding-right: 30px;">
      </app-input-text>

      <app-input-text [placeholder]="''" formControlName="ogrnNumber" [type]="'number'" [label]="'ОГРН'"
        [id]="'ogrnNumber'" value='{{item.ogrnNumber}}' style="width: 100%;">
      </app-input-text>
    </div>
    <app-input-text [placeholder]="''" formControlName="companyName" [type]="'text'"
      [label]="'Полное или сокращенное наименование'" [id]="'companyName'" value='{{item.companyName}}'>
    </app-input-text>

    <app-input-text [placeholder]="''" formControlName="directorPosition" [type]="'text'"
      [label]="'Должность руководителя'" [id]="'directorPosition'" value='{{item.directorPosition}}'>
    </app-input-text>

    <app-input-text [placeholder]="''" formControlName="directorName" [type]="'text'" [label]="'Имя руководителя'"
      [id]="'directorName'" value='{{item.directorName}}'>
    </app-input-text>

    <app-input-text [placeholder]="''" formControlName="accountNumberPsb" [type]="'number'" [label]="'Номер ОБС'"
      [id]="'accountNumberPsb'" value='{{item.accountNumberPsb}}'>
    </app-input-text>

    <app-dropdown [title]="'Офис'" [controlName]="'bankOffice'" [items]="offices" [form]="itemForm"
      [selectedItemId]="item.bankOfficeId">
    </app-dropdown>

    <div class="input-group" style="display: flex;">
      <app-input-text [placeholder]="''" formControlName="gosKontractIdentificator" [type]="'text'"
        [label]="'Идентификатор контракта'" [id]="'gosKontractIdentificator'" value='{{item.gosKontractIdentificator}}'
        style="width: 100%; padding-right: 30px;">
      </app-input-text>


      <app-input-text [placeholder]="''" formControlName="gosKontractNumber" [type]="'text'" [label]="'Номер контракта'"
        [id]="'gosKontractNumber'" value='{{item.gosKontractNumber}}' style="width: 100%; padding-right: 30px;">
      </app-input-text>

      <app-input-text [placeholder]="''" formControlName="gosKontractDate" [type]="'text'" [label]="'Дата контракта'"
        [id]="'gosKontractDate'" value='' style="width: 100%; padding-right: 30px;">
      </app-input-text>

      <app-input-text [placeholder]="''" formControlName="gosKontractOwnerAccount" [type]="'number'"
        [label]="'Номер счета заказчика'" [id]="'gosKontractOwnerAccount'" value='{{item.gosKontractOwnerAccount}}'
        style="width: 100%;">
      </app-input-text>


    </div>







    <div class="mat-btn-wrapper" style="min-width: 280px; margin-top: 40px;">
      <app-mat-btn-small [disabled]="false" [routerLink]="[ '/clients' ]" text="Отменить"></app-mat-btn-small>

      <app-mat-btn-small (click)="submitUpdate()" [disabled]="itemForm.invalid" text="Сохранить">
      </app-mat-btn-small>
    </div>
  </form>
</div>