<div *ngIf="true && item && !isEdited" class="spec-container">
  <div class="spec-inner">
    <app-title text="{{item.name}}" subtext="{{item.type}}"></app-title>

    <div class="item-content-grid">
      <div class="item-content">
        <b>Идентификатор чата</b>
        <p> {{item.chatId}} </p>
        <b>Настройка времени отправки</b>
        <p>{{item.cronExpression}}</p>
      </div>

      <div class="item-content">
        <div class="item-content-inner">
          <div>
            <b>Запись создана</b>
            <p>{{item.enrolledDate}}</p>
            <b>Создано пользователем</b>
            <p>{{item.appUser.displayName }}</p>
            <b>Должность</b>
            <p>{{item.appUser.userPosition}}</p>
            <b>Офис</b>
            <p>{{item.appUser.bankOffice}}</p>
          </div>


        </div>
      </div>
    </div>


    <div class="btn-wrapper" style="margin-bottom: 1.5rem;">
      <app-mat-btn-small style="margin-right: 10px;" [routerLink]="[ '/items' ]" text="Назад">
      </app-mat-btn-small>
      <app-mat-btn-small style="margin-right: 10px;" text="Редактировать" [routerLink]="[ '/items/edit/', item.id ]">
      </app-mat-btn-small>
      <app-mat-btn-small style="margin-top: 20px;" text="Удалить" *ngIf="accountService.checkAdminRights()"
        (click)="delete(item.id)">
      </app-mat-btn-small>
    </div>

  </div>
</div>


<!-- <div class="spec-container" *ngIf="isEdited && item">
  <div class="spec-inner">
    <app-item-form-edit (changedItem)="getEmitedOutputItem($event)" [item]="item" [itemForm]="itemForm">
    </app-item-form-edit>
  </div>
</div> -->