<div *ngIf="item && !isEdited" class="spec-container">
  <div class="spec-inner">
    <app-title text="{{item.companyName}}" subtext="{{item.type}}"></app-title>

    <div class="item-content-grid">
      <div class="item-content">
        <b>ИНН</b>
        <p> {{item.innNumber}} </p>
        <b>ОГРН</b>
        <p> {{item.ogrnNumber}} </p>
        <b>Должность руководителя</b>
        <p> {{item.directorPosition}} </p>
        <b>ФИО руководителя</b>
        <p> {{item.directorName}} </p>
        <b>Контакты</b>
        <p>9955094999</p>
        <b>Номер отдельного банковского счета</b>
        <p>{{item.accountNumberPsb}}</p>
        <b>Обслуживающий офис</b>
        <p>{{item.bankOffice}}</p>
      </div>
      <div class="item-content">
        <div class="item-content-inner">
          <div>
            <b>Запись создана</b>
            <p>{{item.enrolledDate }}</p>
            <b>Создано пользователем</b>
            <p>{{item.appUser.displayName }}</p>
            <b>Должность</b>
            <p>{{item.appUser.userPosition}}</p>
            <b>Офис</b>
            <p>{{item.appUser.bankOffice}}</p>
            <div class="docs">
              <b>Документы для скачивания</b>
              <a href="{{item.itemUrl}}">Заявление на обслуживание</a>
            </div>
          </div>





        </div>
      </div>


    </div>



    <div class="btn-wrapper" style="margin-bottom: 1.5rem;">
      <app-mat-btn-small style="margin-right: 10px;" [routerLink]="[ '/clients' ]" text="Назад">
      </app-mat-btn-small>
      <app-mat-btn-small style="margin-right: 10px;" text="Редактировать" (click)="editMode(true)">
      </app-mat-btn-small>
      <app-mat-btn-small style="margin-top: 20px;" text="Удалить" *ngIf="accountService.checkAdminRights()"
        (click)="delete(item.id)">
      </app-mat-btn-small>

    </div>

  </div>
</div>


<div *ngIf="item && isEdited" class="spec-container">
  <div class="spec-inner">
    <app-item-form-edit (changedItem)="getEmitedOutputItem($event)" [item]="item" [itemForm]="itemForm">
    </app-item-form-edit>
  </div>
</div>