<div *ngIf="item && !isEdited" class="spec-container">
  <div class="spec-inner">
    <app-title text="{{item.companyName}}" subtext="{{item.type}}"></app-title>

    <div class="item-content-grid">
      <div class="item-content">
        <b>Должность руководителя</b>
        <p>
          {{item.directorPosition}}
        </p>
        <b>ФИО руководителя</b>
        <p>
          {{item.directorName}}
        </p>
        <b>Контакты</b>
        <p>
          9955094999
        </p>

        <br>
      </div>
      <div class="item-content">
        <div class="item-content-inner">
          <div>
            <b>Запись создана</b>
            <p> {{item.enrolledDate }}</p>

            <b>Создано пользователем</b>
            <p> {{ item }}</p>

            <!-- 
            "userName":null,
            "userFatherName":null,
            "userShortName":null,
            "userFullName":null, -->

            <!-- 
"userFamilyName":null,
"userName":null,
"userFatherName":null,
"userShortName":null,
"userFullName":null,
"userId":1,

"appUser":
{"id":3,"email":"user@user.ru","displayName":"Дмитрий
Дмитриев","pictureUrl":null,"userPosition":null,"bankOffice":"Калининский","userDescription":null,"token":null,"userRoles":[]},

18:23:39"} -->



            <b>Должность</b>
            <p> {{item.userPosition}}</p>


            <div class="docs">
              <br>
              <b>Документы для скачивания</b> <br>
              <a href="{{item.itemUrl}}">Заявление на обслуживание</a>
            </div>
          </div>





        </div>
      </div>


    </div>



    <div class="btn-wrapper" style="margin-bottom: 1.5rem;">
      <app-mat-btn-small style="margin-right: 10px;" *ngIf="type === 'pet'" [routerLink]="[ '/clients' ]" text="Назад">
      </app-mat-btn-small>


      <app-mat-btn-small style="margin-right: 10px;" text="Редактировать" (click)="editMode(true)">
      </app-mat-btn-small>
      <app-mat-btn-small style="margin-top: 20px;" text="Удалить" *ngIf="accountService.checkAdminRights()"
        (click)="delete(item.id)">
      </app-mat-btn-small>

    </div>

  </div>
</div>


<div *ngIf="item && isEdited" class="spec-container">
  <div class="spec-inner">
    <app-item-form-edit (changedItem)="getEmitedOutputItem($event)" [item]="item" [type]="type" [itemForm]="itemForm">
    </app-item-form-edit>
  </div>
</div>