.item-content-grid {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
}

.item-content {
  padding-right: 30px;
}

.item-content-inner {
  padding-left: 30px;
  min-width: 900px;
  display: flex;
  justify-content: center;
  line-height: 1.5rem;
}

@media (max-width: 770px) {
  .item-content-grid {
    display: grid;
  }

  .item-content-inner {
    padding: 0px;
    padding-top: 20px;
  }
}
