app-input-text {
  width: 100% !important;
}

.owner {
  padding: 20px;
  padding-top: 0px;
  margin-top: 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-hover);
}

.form-add-wrapper {
  // justify-content: flex-start;
  position: relative;
  align-items: center;
  vertical-align: middle;
  // display: flex;
  // width: 100%;

  .form-add {
    font-size: 15px;
    line-height: 10px;
    position: relative;
    // display: block;
    // width: 100%;
  }
}

@media (max-width: 760px) {
  .input-group {
    display: block !important;
  }
}
