.form-add-wrapper {
  justify-content: flex-start;
  position: relative;
  align-items: center;
  vertical-align: middle;
  display: flex;
  width: 100%;
  max-width: 1200px;

  .form-add {
    font-size: 15px;
    line-height: 10px;
    position: relative;
    display: block;
    width: 100%;
  }
}

p {
  line-height: 1.5rem;
}

.account-number {
  width: 225px;
  display: block;
}

@media (max-width: 2000px) and (min-width: 860px) {
  .form-add-wrapper {
    padding-right: 150px;
  }
}

@media (max-width: 1200px) {
  .input-group {
    display: block !important;
  }
}
