<div class="spec-container">
  <app-title text="Шаг 2" subtext="Вводи данные и нажми кнопку 'Сохранить'"> </app-title>
  <!-- {{item.companyShortName}}" -->
  <div class="form-add-wrapper">


    <form class="form-add" [formGroup]="itemForm" (keydown.enter)="addItem()">

      <div class="input-group" style="display: flex;">
        <!-- TODO: поправить чтобы были копейки можно писать было -->
        <app-input-text [placeholder]="''" formControlName="ukValue" [type]="'text'" [label]="'Уставный капитал'"
          [id]="'ukValue'" value='' [maxiLength]="innLength" [miniLength]="innLength" [isNumericOnly]="true">
        </app-input-text>

        <!-- <app-input-text [placeholder]="''" formControlName="ogrnNumber" [type]="'text'" [label]="'ОГРН'"
          [maxiLength]="'13'" [miniLength]="'13'" [isNumericOnly]="true" [id]="'ogrnNumber'" value=''>
        </app-input-text>

        <app-input-text [placeholder]="''" formControlName="directorName" [type]="'text'" [label]="'Имя руководителя'"
          [id]="'directorName'" value=''>
        </app-input-text> -->

      </div>





    </form>
  </div>


  <br>
  <br><br>

  <app-subtitle text="Учредители"></app-subtitle>
  <app-mat-btn-small text="Добавить учредителя - физическое лицо" style="margin-right: 30px;">
  </app-mat-btn-small>
  <app-mat-btn-small (click)="addForm()" text="Добавить учредителя - юридическое лицо">
  </app-mat-btn-small>



  <app-item-form-legal [gaugeTitleForm]="gaugeTitleForm" [gaugeTitles]="gaugeTitles"></app-item-form-legal>


  <div class="form-add-wrapper">
    <div class="mat-btn-wrapper" style="min-width: 280px; margin-top: 40px;">
      <app-mat-btn-small [disabled]="false" [routerLink]="[ '/clients/add/first', type ]" text="Назад">
      </app-mat-btn-small>

      <!-- <app-mat-btn-small (click)="addItem()" [disabled]="itemForm.invalid || gaugeTitleForm.invalid"
      text="Сохранить и продолжить">
    </app-mat-btn-small> -->

      <app-mat-btn-small (click)="addItem()" [disabled]="false" text="Сохранить и продолжить">
      </app-mat-btn-small>
    </div>
  </div>



</div>