<div class="nav-wrapper">
  <div class="spec-container">
    <nav class="nav-app">
      <div class="nav-toggle" style="padding-left: 10px;">
        <svg *ngIf="!sideNavService.isOpened() && (currentUser$ | async)" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24" fill="var(--font)" color="var(--font)" width="36px" height="36px"
          (click)="sideNavService.toggle()">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
        </svg>
      </div>


      <div class="nav-content">
        <!-- раздел для логина и пароля -->
        <div class="nav-pro">

          <div class="spec-container" style="display: flex; position: relative;">
            <div class="toggle-wrapper">
            </div>

            <div class="login-btn-wrapper"
              style="height: 66px; display: flex; vertical-align: middle; align-items: center; "
              *ngIf="!(currentUser$ | async)">
              <app-mat-btn-small class="login-btn" [routerLink]="['/account' ]" text="Войти">
              </app-mat-btn-small>
            </div>

            <div class="nav-pro-item nav-item-user">
              <div id="userinfo" (click)="scrollMenuVisibilitty = !scrollMenuVisibilitty">
                <div *ngIf="(currentUser$ | async)" (click)="topMenu = !topMenu" style="display: flex;">
                  <div class="img-wrapper" *ngIf="(currentUser$ | async)">
                    <img id="userinfo" *ngIf="(currentUser$ | async).photoUrl"
                      src="{{(currentUser$ | async).photoUrl}}">
                  </div>


                  <svg id="userinfo" class="user-profile" *ngIf="!(currentUser$ | async).photoUrl" width="26px"
                    height="26px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="var(--font)"
                    color="#000000">
                    <path id="userinfo" class="user-profile" fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                    </path>
                  </svg>


                </div>
              </div>

            </div>
          </div>
        </div>
        <app-scroll-menu style="top: 0px; position: absolute; right: 0px; width: 100%;"
          [ngClass]="{'hidden': scrollMenuVisibilitty}" *ngIf="(currentUser$ | async)">
        </app-scroll-menu>
      </div>
      <!-- раздел для логина и пароля -->


    </nav>
  </div>
</div>

<div class="layout" *ngIf="isSearching">

</div>