<!-- <mat-form-field [formGroup]="form" appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input type="date" matInput class="input" [matDatepicker]="pickerStart" formControlName='{{controlName}}'>
  <mat-datepicker-toggle matSuffix [for]="pickerStart">
  </mat-datepicker-toggle>
  <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field> -->

<!-- appearance="fill" -->


<mat-form-field appearance="outline" floatLabel="always"
  style="display: flex !important;  vertical-align: middle !important; " [formGroup]="form">
  <mat-label>Outline form field</mat-label>
  <input matInput placeholder="Placeholder" formControlName='{{controlName}}' [matDatepicker]="picker"
    [required]="true">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!-- <mat-error *ngIf="form.get('FromDate').hasError('requiredFromDate')">Please provide a valid Fromdate</mat-error> -->