<!-- <mat-form-field [formGroup]="form" appearance="outline">
  <mat-label>{{title}}</mat-label>
  <input type="date" matInput class="input" [matDatepicker]="pickerStart" formControlName='{{controlName}}'>
  <mat-datepicker-toggle matSuffix [for]="pickerStart">
  </mat-datepicker-toggle>
  <mat-datepicker #pickerStart></mat-datepicker>
</mat-form-field> -->

<!-- appearance="fill" -->


<mat-form-field appearance="outline" floatLabel="always" [hideRequiredMarker]="true"
  style="display: flex !important;  vertical-align: middle !important; " [formGroup]="form">
  <label class="label">{{title}}</label>
  <input matInput placeholder="01.02.2003" id="pickerinput" formControlName='{{controlName}}' [matDatepicker]="picker"
    [required]="true">
  <mat-datepicker-toggle matSuffix [for]="picker"
    [ngClass]="{'error': form.get(controlName).errors && form.get(controlName).touched}">
    <!-- datepicker.hasError('requiredFromDate') -->
    <!-- (form.get('datepicker').hasError('requiredFromDate')) -->
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<!-- <mat-error *ngIf="form.get('controlName').hasError('requiredFromDate')">Please provide a valid Fromdate</mat-error> -->