<div class="spec-container">
  <app-title text="Шаг 3 Руководитель" subtext="Вводи данные и нажми кнопку 'Сохранить'"> </app-title>
  <!-- {{item.companyShortName}}" -->

  <app-subtitle text="Выбрать из участников"></app-subtitle>

  <app-chip-list [items]="owners" [selectedItemId]="selectedOwnerId" (itemEmiter)="emitItem($event)"></app-chip-list>
  <br><br>
  <div class="form-add-wrapper">

    <form class="form-add" [formGroup]="itemForm">
      <div class="input-group" style="display: flex; width: 100%;">
        <app-input-text [placeholder]="''" formControlName="cityzenType" [type]="'text'" [label]="'Гражданство'"
          [id]="'cityzenType'" value=''>
        </app-input-text>
        <app-input-text [placeholder]="''" formControlName="innNumber" [type]="'text'" [label]="'ИНН'"
          [id]="'innNumber'" value='' style="padding-left: 30px;">
        </app-input-text>
        <app-input-text [placeholder]="''" formControlName="snilsNumber" [type]="'text'" [label]="'СНИЛС'"
          [maxiLength]="'11'" [miniLength]="'11'" [isNumericOnly]="true" [id]="'snilsNumber'" value=''
          style="padding-left: 30px;">
        </app-input-text>
      </div>


      <!-- <app-dropdown [title]="'Должность'" [controlName]="'position'" [items]="headManagerPositions" [selectedItemId]="1"
        [form]="itemForm">
      </app-dropdown> -->

      <app-dropdown [title]="'Должность'" [controlName]="'headManagerPosition'" [items]="headManagerPositions"
        [form]="itemForm">
      </app-dropdown>

      <div class="input-group" style="display: flex; width: 100%;">

        <app-input-text [placeholder]="''" formControlName="familyName" [type]="'text'" [label]="'Фамилия'"
          [id]="'familyName'" value='' style="margin-right: 30px;">
        </app-input-text>

        <app-input-text [placeholder]="''" formControlName="firstName" [type]="'text'" [label]="'Имя'"
          [id]="'firstName'" value='' style="margin-right: 30px;">
        </app-input-text>

        <app-input-text [placeholder]="''" formControlName="fatherName" [type]="'text'" [label]="'Отчество'"
          [id]="'fatherName'" value=''>
        </app-input-text>

      </div>



      <app-input-text [placeholder]="''" formControlName="birthPlace" [type]="'text'" [label]="'Место рождения'"
        [id]="'birthPlace'" value=''>
      </app-input-text>

      <br>
    </form>
  </div>


  <div class="form-add-wrapper">
    <div class="mat-btn-wrapper" style="min-width: 280px; margin-top: 40px;">

      <app-mat-btn-small [disabled]="false" [routerLink]="[ '/clients/add/second', type, itemId]" text="Назад">
      </app-mat-btn-small>

      <app-mat-btn-small (click)="addOrUpdateOwner()" [disabled]="(this.itemForm.invalid)"
        text="Сохранить и продолжить">
      </app-mat-btn-small>
    </div>
  </div>


</div>