.page-layout {
  margin-top: 100px;
}

/* хром, сафари */
*::-webkit-scrollbar {
  width: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0rem 0rem;
  padding-top: 0rem;
  padding-left: 10px;
  padding-right: 10px;
}

.spec-container {
  padding-left: 50px;
  padding-right: 50px;
  background-color: transparent !important;
  background-color: var(--background);
}

.spec-inner {
  margin-top: 150px;
}

@media (max-width: 1000px) and (min-width: 700px) {
  .spec-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 770px) {
  .spec-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 320px) {
  .spec-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
