<div class="dialog-wrapper">
  <h2 mat-dialog-title>Добавление данных</h2>
  <div mat-dialog-content class="mat-typography">
    <p>Обнови необходимые данные в форме, если это необходимо, и нажми кнопку "Сохранить"</p>


    <form class="form-add" [formGroup]="form">

      <app-input-text [placeholder]="''" formControlName="name" [type]="'text'" [label]="'Имя'" [id]="'name'">
      </app-input-text>



    </form>
  </div>
  <br>

  <mat-dialog-actions align="end">
    <app-mat-btn-small mat-dialog-close text="Отмена" [disabled]="false" style="margin-right: 10px;">
    </app-mat-btn-small>

    <app-mat-btn-small [mat-dialog-close]="true" text="Сохранить" (click)="submitUpdate()" [disabled]="form.invalid">
    </app-mat-btn-small>

  </mat-dialog-actions>
  <br>
</div>