<div class="form-add-wrapper">
  <form class="form-add" [formGroup]="gaugeTitleForm">

    <div class="owner" formArrayName="gaugeTitles"
      *ngFor="let item of gaugeTitleForm.get('gaugeTitles')?.controls; let i = index;">
      <div [formGroupName]="i">


        <div class="input-group" style="display: flex; width: 100%;">
          <app-input-text [placeholder]="''" formControlName="shareValue" [type]="'text'" [label]="'Размер доли, %'"
            [id]="'shareValue'" value='' style="max-width: 240px; ">
          </app-input-text>

          <app-input-text [placeholder]="''" formControlName="shortName" [type]="'text'"
            [label]="'Сокращенное наименование'" [id]="'shortName'" value='' style="padding-left: 30px !important;">
          </app-input-text>

        </div>

        <div class="input-group" style="display: flex; width: 100%;">
          <app-input-text [placeholder]="''" formControlName="innNumber" [type]="'text'" [label]="'ИНН'"
            [id]="'innNumber'" value='' [maxiLength]="'10'" [miniLength]="'10'" [isNumericOnly]="true" style="">
          </app-input-text>

          <app-input-text [placeholder]="''" formControlName="ogrnNumber" [type]="'text'" [label]="'ОГРН'"
            [id]="'ogrnNumber'" value='' style="padding-left: 30px !important;">
          </app-input-text>

          <app-input-text [placeholder]="''" formControlName="mainOkved" [type]="'text'" [label]="'Основной ОКВЭД'"
            [id]="'mainOkved'" value='' style="padding-left: 30px !important;">
          </app-input-text>
        </div>





        <app-input-text [placeholder]="''" formControlName="legalAddress" [type]="'text'" [label]="'Юридический адрес'"
          [id]="'legalAddress'" value=''>
        </app-input-text>


        <br>
        <app-mat-btn-small (click)="onSubmit(i)" text="Сохранить" icon="add" style="margin-right: 30px;"
          [disabled]="item.invalid">

        </app-mat-btn-small>
        <app-mat-btn-small (click)="removeRow(i)" text="Удалить" icon="close">
        </app-mat-btn-small>

        <!-- <app-input-datepicker title="Дата рождения" [controlName]="'birthDate'"
      [hiddenDatePickerName]="'birthDateHidden'" [form]="gaugeTitleForm" [required]="true">
    </app-input-datepicker> -->

        <!-- 
    <app-input-datepicker title="Дата регистрации" [controlName]="'regDate'"
      [hiddenDatePickerName]="'regDateHidden'" [form]="itemForm" [required]="true">
    </app-input-datepicker> -->


      </div>
    </div>


  </form>



</div>