.container {
  .title-wrapper {
    margin-right: 20px;

    p {
      font-size: 15px;
      a {
        color: black;
      }
    }
  }
}

.grid-wrapper {
  .grid {
    margin-top: 2rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}

.mat-paginator-wrapper {
  display: flex;
  justify-content: center;
  position: relative;

  mat-paginator {
    margin-right: 20px;
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.app-card {
  padding: 0px 10px;
  // display: flex;
  justify-content: center;
}

@media (max-width: 770px) {
  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

@media (max-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  }
}

@media (max-width: 479px) {
  .grid {
    display: flex;
    grid-template-columns: 100% !important;
    display: flex;
  }
}

.spinner-wrapper {
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  z-index: 100;

  mat-spinner {
    top: auto;
  }
}

@media (max-width: 320px) {
  .app-card {
    padding-left: 0px;
    padding-right: 0px;
  }
}
